/* scrollbar styles */
.container ::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
  height: 10px;
  background: transparent;
}
.container ::-webkit-scrollbar-corner {
  background-color: transparent;
}

.container {
}
